#header-div {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

#devops-logo-img {
    height: 200px;
}

#logo-div {
    display: inline-block;
    width: 200px;
}

#buttons-div {
    display: flex;
    flex-wrap: nowrap;
}

#other_div {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-left: 15px;
}

ul {
    list-style-type: none;
}

input {
    border: 1px solid green;
    border-radius: 5px;
    width: 100px; 
    height: 20px; 
    margin: 5px;
    font-family: "MyriadPro", sans-serif;
    font-size: 14px;
}

#upload_file_button {
    height: auto;
}

#send_file_button {
    height: auto;
}