  /* photos div */  
  .photos {
    margin-right: 10px;
    text-align: left;
    display: inline-flex;
    padding: 10px;
  }

  .photo {
    border-style: solid;
    border-color: rgb(121, 114, 112);
    border-width: 2px;
    margin-right: 10px;
    padding: 10px;
  }

  .comment-img-div {
    display: inline;
    margin-left: 10px;
  }

  /* .comment {
    display: inline-block;
  } */
  .comment-img {
    
  }

  .text-date {
  }

  .img-photo {
    border-style: solid;
    border-color: grey;
    border-width: 1px;
  }

  .number-likes {
    display: inline;
    font-size: 20px;
    margin-left: 5px;
  }

  .like {
    display: inline;
    margin-left: 5px;
  }
  
  .close-thik:after {
    content: '✖'; /* UTF-8 symbol */
    position: relative;
    float: right;
    text-decoration:none;
  }

  .close-thik:link {
    color: rgb(77, 55, 55);
  }
  
  .close-thik:visited {
    color: rgb(77, 55, 55);
  }
  
  .close-thik:hover {
    color: rgb(77, 55, 55);
  }
  
  .close-thik:active {
    color: rgb(77, 55, 55);
  }